.Background
{
    /* Цвет заднего фона */
    background-color: blanchedalmond;

    /* Размещение */
    margin: 0;
    background-position: center center;
}

.PageTransition
{
    /* Цвет заднего фона */
    /* background-color: red; */

    /* Размещение */
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

.Transition
{
    display: flex;
    justify-content: center;
    align-items: center;

    /* Настройки текста */ 
    font-size:27px;
    font-family: Trans;
    color: black;

    margin-top: 17px;
    margin-bottom: 14px;
}

.NoneLine
{
    text-decoration: none;
}

.foot
{
    height: 110px;
    width: 100%;

    background-color: #3d3d3d;
}

#Main
{
    margin-left: 300px;
}


#Traditions
{
    margin-right: 300px;
}

a 
{
    color: #000000; /* Цвет обычной ссылки */ 
}
a:visited {
    color: #3d3d3d; /* Цвет посещённой ссылки */
} 
   a:hover {
    color: #000000; /* Цвет ссылки при наведении */ 
}

p
{
    color: #3d3d3d;
    font-size: 30px;
}