.BasicText
{
    margin-left: 50px;
    margin-right: 50px;

    font-family: Roboto;
    font-size: 27px;
}

.ImageText
{
    font-family: img;
    font-size: 17px;
    color: rgb(69, 69, 69);
}

.citation
{
    margin-left: 60px;
    margin-right: 60px;

    font-size: 25px;
    font-family: citation;
    color: rgb(255, 255, 255);
}

.linkStyle
{
    color: rgb(48, 191, 48);
}

.autorName
{
    color: black;
    font-size: 35px;
    font-family: Roboto;
}

@font-face
{
    font-family: "Roboto";
    src: url(fonts/RobotoCondensed-Italic-VariableFont_wght.ttf) format(truetype);
}

@font-face 
{
    font-family: "Trans";
    src: url(fonts/RobotoSlab-ExtraBold.ttf) format(truetype);
}

@font-face 
{
    font-family: "img";
    src: url(fonts/IBMPlexSans-Medium.ttf) format(truetype);
}

@font-face 
{
    font-family: "citation";
    src: url(fonts/PTSans-Regular.ttf) format(truetype);
}